# Python AI Service
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# YOLO models
# *.pt
!models/license_plate_detector.pt
*.weights
runs/

# EasyOCR
.EasyOCR/

# IDE
.vscode/
.idea/
